<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fiap.nac.nac2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:theme="@style/Fullscreen" />
        <activity
            android:name=".GameActivity"
            android:theme="@style/Fullscreen" />
        <activity
            android:name=".GameOverActivity"
            android:theme="@style/Fullscreen" />
        <activity
            android:name=".RankingActivity"
            android:theme="@style/Fullscreen" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/Fullscreen"
            />
    </application>

</manifest>